[tool.poetry]
name = "piou"
version = "0.12.2"
description = "A CLI toolkit"
authors = ["Julien Brayere <julien.brayere@gmail.com>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/andarius/piou"
repository = "https://github.com/andarius/piou"
keywords = ["cli"]
classifiers = [
    "Environment :: Console",
    "Operating System :: OS Independent"
]
include = [
    "LICENSE",
]

[tool.poetry.dependencies]
python = ">=3.9,<4.0"
rich = ">=10.11.0,<13.0"

[tool.poetry.dev-dependencies]
pytest = "^6.2.5"
pytest-cov = "^3.0.0"
pyright = "^1.1.269"

[tool.poetry.group.dev.dependencies]
pyright = "^1.1.274"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
addopts = "--cov=piou -s -q -x"
testpaths = [
    "tests"
]
python_files = "*.py"


[tool.pyright]
include = ["piou"]
exclude = []

pythonVersion = "3.9"
pythonPlatform = "Linux"
