version: 2.1

orbs:
  gh: circleci/github-cli@1.0

executors:
  test-build:
    docker:
      - image: cimg/python:3.13
        environment:
          PYRIGHT_PYTHON_GLOBAL_NODE: true

commands:
  run-tests:
    parameters:
      python-version:
        type: string
        description: Name of the image
    steps:
      - checkout
      - restore_cache:
          keys:
            - deps-<< parameters.python-version >>-{{ checksum "uv.lock" }}
      - run:
          name: Install python dependencies
          command: uv sync --all-extras
      - save_cache:
          key: deps-<< parameters.python-version >>-{{ checksum "uv.lock" }}
          paths:
            - /home/circleci/.uv-cache
      - run:
          name: Running lint check
          command: uv run ruff check .
      - run:
          name: Check format
          command: uv run ruff format --check .
      - run:
          name: Running type checking
          command: uv run pyright
      - run:
          name: Run tests
          command: |
            uv run pytest -vv --junitxml=tests/junit.xml
      - run:
          name: Test Example
          command: ./bin/run-examples.sh
      - run:
          name: Generating coverage
          command: |
            uv run coverage xml -o tests/coverage.xml
            uv run coverage html
      - store_test_results:
          path: tests/junit.xml
      - store_artifacts:
          path: htmlcov

jobs:

  run-tests-3-10:
    docker:
      - image: cimg/python:3.10.17-node
        environment:
          PYRIGHT_PYTHON_GLOBAL_NODE: true
    steps:
      - run-tests:
          python-version: "3.10"

  run-tests-3-11:
    docker:
      - image: cimg/python:3.11-node
        environment:
          PYRIGHT_PYTHON_GLOBAL_NODE: true
    steps:
      - run-tests:
          python-version: "3.11"

  run-tests-3-12:
    docker:
      - image: cimg/python:3.12-node
        environment:
          PYRIGHT_PYTHON_GLOBAL_NODE: true
    steps:
      - run-tests:
          python-version: "3.12"

  run-tests-3-13:
    docker:
      - image: cimg/python:3.13-node
        environment:
          PYRIGHT_PYTHON_GLOBAL_NODE: true
    steps:
      - run-tests:
          python-version: "3.13"

  run-tests-3-14:
    docker:
      - image: cimg/python:3.14-node
        environment:
          PYRIGHT_PYTHON_GLOBAL_NODE: true
    steps:
      - run-tests:
          python-version: "3.14"

  bump-version:
    executor: test-build
    steps:
      - gh/setup
      - checkout
      - restore_cache:
          keys:
            - deps-3.13-{{ checksum "uv.lock" }}
      - run:
          name: Create release
          command: bash .circleci/scripts/release.sh
      - store_artifacts:
          path: dist
      - save_cache:
          name: Saving wheel
          key: piou-{{ checksum "pyproject.toml" }}
          paths:
            - dist/

  publish:
    executor: test-build
    steps:
      - checkout
      - restore_cache:
          name: Restore wheel
          keys:
            - piou-{{ checksum "pyproject.toml" }}
      - run:
          name: Publishing
          command: uv publish -u __token__ -p $PYPI_TOKEN

workflows:

  run-tests:
    jobs:
      - run-tests-3-10:
          filters:
            tags:
              ignore: /.*/
      - run-tests-3-11:
          filters:
            tags:
              ignore: /.*/
      - run-tests-3-12:
          filters:
            tags:
              ignore: /.*/
      - run-tests-3-13:
          filters:
            tags:
              ignore: /.*/
      - run-tests-3-14:
          filters:
            tags:
              ignore: /.*/
      - bump-version:
          context: piou-deploy
          requires: [
            run-tests-3-10,
            run-tests-3-11,
            run-tests-3-12,
            run-tests-3-13,
            run-tests-3-14
          ]
          filters:
            tags:
              only: /.*/
            branches:
              only: /^master$/

  publish:
    jobs:
      - publish:
          context: piou-deploy
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/
